th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}


h1 {
  font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;
}

h2 {
  font: 400 20px/0.5 'Courgette', Helvetica, sans-serif;
}

body {
  font: 400 15px/0.5 'Courgette', Helvetica, sans-serif;
}


